/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
.body {
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.7;
}

/* Sidebar styles */
.container1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

.sidebar {
    background: #cfe2e8;
    width: 17%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item,
.sidebar-subtext {
    color: #fff;
}

ul {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    padding-top: 10px;
}

.menu-list li {
    list-style: none;
    width: 150px;
    display: flex;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
}

.menu {
    text-decoration: none;
    font-family: 'Romnea';
    color: #21618C;
    
}

li:hover {
    background: #2471A3;
}
.active {
    list-style: none;
    width: 150px;
    display: flex;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;
    background-color: #21618C;

}
.active .menu{
    list-style: none;
    display: flex;
    width: 100%;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;


}


.menu:hover {
    width: 100%;
    color: #ffff;

}
/* Adjust icon size if needed */
ul.menu-list li a i {
    margin-right: 7px; /* Add spacing between icon and text */
}

/* Dropdown styles */
.dropbtn {
    background-color: #21618C;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ffffff;
    color: #000;
}

.active {
    background-color: #2E86C1;
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3498db;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Other styles */
.sidebar-pf {
    width: 100%;
    border-radius: 5px;
    padding: 0px 15px;
    background: #FDFEFE;
}

.h1 {
    color: #ffff;
}

.user {
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar-header1 {
    width: 83%;
    height: auto;
    font-family: Khmer OS Muol Light;
    color: rgb(241, 241, 241);
}

.navbar-header1 .text_navbar {
    font-size: 25px;
    width: 100%;
    height: 15vh;
    background: #FDFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 6px 15px #E1E7EC;
    color: #2553dc;
    font-family: 'Romnea';
}

.pp {
    background: #000;
}

.iteme {
    width: 100%;
    display: flex;
}

.item-content {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 6px 15px #808B96;
}

.bg-red {
    background: #ffffff;
}

.bg-dak {
    background: #ffffff;
    margin-left: 30px;
}

.container-a {
    width: 82%;
    height: auto;
    background: #FDFEFE;
    box-shadow: 0 5px 15px #808B96;
    border-radius: 10px;
    color: #2f66b4;
    padding: 10px;
    font-size: 12px;
    margin-left: 18%;
}

.text_box {
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}




/* iteam */

.iteme {
    width: 100%;
    display: flex;
    font-family: 'Khmer OS Siemreap', 'Times New Roman', Times, serif; /* Update this line */
}

.item-content {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 6px 15px #808B96;
}




/* iteam */




.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #154360;
    text-align: left;
    padding: 8px;
    font-family: 'Khmer OS Siemreap', 'Times New Roman', Times, serif;
    text-align: center;
}

.table th {
    background-color: #2f66b4;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #d4edda;
}

.table-success {
    border-color: #28a745;
}

form {
    max-width: 95%;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    color: #0970d1;
    font-size: 13px;
}

.input_field {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_field label {
    display: block;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 2%;
    width: 20%;
    font-size: 17px;
    font-family: Khmer OS Siemreap;
}

.input_field input,
.input_field select,
.input_field textarea,
.input_field div {
    width: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 0.7%;
    font-family: Khmer OS Siemreap;
    color: #2980b9;
}

.input_field select {
    background-color: #ecf0f1;
    color: #34495e;
}

button.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #0056b3;
}

/* profile */

.profile-details {
    margin: 10px;
    padding: 10px;
    border: 1px solid #21618C;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #618ead;
}

.profile-details:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
}

.profile-content {
    margin-right: 10px;
}

.profile-content img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    color: #FBFCFC;
}

/* Adjust the link color */
.profile-details a {
    text-decoration: none;
    color: inherit;
}

/* profile */
/* Additional styles */
.contenta1 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.search-form {
    margin-bottom: 10px;
}

.search-label {
    font-weight: bold;
    margin-right: 10px;
}

.search-input {
    margin-right: 10px;
}

.search-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#data-table th, #data-table td {
    border: 1px solid #2874A6;
    padding: 8px;
    text-align: center;
}

#data-table td {
    background: #AED6F1;
}

#data-table th {
    background-color: #007bff;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .container-a {
        width: 100%;
    }

    .input_field {
        flex-direction: column;
    }

    .input_field label,
    .input_field input,
    .input_field select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .input_field button {
        width: 80%;
    }
}


/* Item content styles */
.item-content {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bg-red {
    background-color: #b1c4c9;
    color: #fff;
}

.bg-dak {
    background-color: #b1c4c9;
    color: #fff;
}

.input_box {
    margin: 20px 0;
  
}

.input_box i {
    margin-right: 5px;
}
