
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.7;
    background: #ff0303;
}

.container1 {
    width: 100%;
    height: auto;
    display: flex;
   justify-content: right;
}

.sidebar {
    background: #21618C;
    width: 17%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;

}
.sidebar-logo{
    height: 100vh;
    


}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sidebar-item {
    color: #fff; /* Set the color of the text */
    font-size: 20px; /* Adjust font size as needed */
    margin-top: 20px; /* Add space at the top if necessary */
}

.sidebar-subtext {
    color: #fff; /* Set the color of the text */
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 10px; /* Add space at the top if necessary */
}
ul{
    width: 100%;
    height: 65vh;
    border-radius: 10px;
    padding-top: 10px;
}
.container1 .sidebar .menu li a{
    list-style: none;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* margin-left: 17px; */
    padding: 5px;
    border-radius: 15px;
}





.menu-list li {
    list-style: none;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* margin-left: 17px; */
    padding: 5px;
    border-radius: 15px;
}







/* menu */
.menu {
    text-decoration: none;
    font-family: 'Romnea';
    color: #D5D8DC;
    transition: background-color 0.3s, color 0.3s; /* Adding transition for a smooth effect */
}

li:hover {
    background: #FDFEFE;
}

.menu:hover {
    width: 100%;
    color: #000;
    text-align: center;
}

.active {
    text-decoration: none;
    font-family: 'Romnea';
    color: #D5D8DC;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff !important; /* Use !important to override other styles */
    color: #0f0202 !important;
}

/* menu */


/* pagegination */
.page_navigation {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}


.pagination .page-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #dee2e6;
    padding: 6px 12px;
    border-radius: 4px;
}

.pagination .page-link:hover {
    z-index: 2;
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}


/* pagegination */


/* profile */

.profile-details {
    margin: 10px;
    padding: 10px;
    border: 1px solid #21618C;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #618ead;
}

.profile-details:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
}

.profile-content {
    margin-right: 10px;
}

.profile-content img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    color: #FBFCFC;
}

/* Adjust the link color */
.profile-details a {
    text-decoration: none;
    color: inherit;
}

/* profile */




a{
    text-decoration: none;
}

/* Styles for the box */
.navbar-header1 {
    width: 83%;
    height: auto;
    font-family: Khmer OS Muol Light;
    color: rgb(241, 241, 241);
}
.navbar-header1 .text_navbar {
    font-size: 25px;
    width: 100%;
    height: 15vh;
    background: #FDFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 6px 15px #808B96;
    color: #2553dc;
    font-family: 'Romnea';
    margin-left: 20.5%;
}
.containera{
    width: 100%;
    height: auto;
    background-color: #fafcff;
    padding: 20px;
    margin-left: 20.5%;
    font-family: Khmer OS Siemreap;

}


.card-header{
    font-size: 16px;
    font-family: Khmer OS Siemreap;
}



.iteme {
    width: 100%;
    display: flex;
    font-family: 'Khmer OS Siemreap', 'Times New Roman', Times, serif; /* Update this line */
}

.item-content {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 6px 15px #808B96;
}

.bg-red {
    background: #ffffff;
}

.bg-dak {
    background: #ffffff;
    margin-left: 30px;
}

.container-a {
    width: 82%;
    height: auto;
    background: #FDFEFE;
    box-shadow: 0 5px 15px #808B96;
    border-radius: 10px;
    color: #2f66b4;
    padding: 10px;
    font-size: 12px;
    margin-left: 18%;
}

.text_box {
    color: #2553dc;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

/* Adjust the font size and color as needed */
.text_box {
    font-size: 14px;
    color: #e91818;
    margin-bottom: 8%;
}


  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the top margin as needed */
    
}

.table th,
.table td {
    border: 1px solid #154360;
    background: #AED6F1;
    text-align: left;
    padding: 8px;
    font-family: Khmer OS Siemreap;
    text-align: center;
    color: #1A5276;
    
}

.table th {
    background-color: #2E86C1  ; /* Set the background color for table header cells */
    color: #ffffff; /* Set the text color for table header cells */
    

}



.table-success {
    border-color: #28a745; /* Set border color for success-themed table */
}


.styled-button {
    /* Your styling goes here */
    background-color: #007bff;
    color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
/* Add more styles as needed */
}
  
.styled-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
/* Custom styles for the dropdown button */
.dropdown .btn-secondary {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
}

.dropdown .btn-secondary:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

/* Custom styles for the dropdown menu */
.dropdown-menu {
     background-color: #007BFF;
     border: 1px solid #007BFF;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #0056b3;
}

        /* Additional styling for the user profile icon */
.bi.bi-person {
    font-size: 1.2rem;
    margin-right: 5px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the top margin as needed */
}
.table th,
.table td {
    border: 1px solid #154360;
    text-align: left;
    padding: 8px;
    font-family: 'Khmer OS Siemreap', 'Times New Roman', Times, serif; /* Update this line */
    text-align: center;
}
.table th {
    background-color: #2f66b4;
    color: #ffffff;
}
.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}
.table tbody tr:hover {
    background-color: #d4edda;
}

.table-success {
    border-color: #28a745;
}

/* Styling for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Styling for the dropdown button */
.dropdown-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
/* Styling for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Styling for the dropdown button */
.dropdown-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer}
/* Styling for the dropdown content */
.dropdown-content {
     display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Styling for dropdown options */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Styling for dropdown options on hover */
.dropdown-content a:hover {
    background-color: #3498db;
    color: #fff;
}
 /* Show the dropdown content when the button is hovered */
.dropdown:hover .dropdown-content {
    display: block;
}





.btn-logout {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 150%;
    text-decoration: none;
    color: #fff;
    background: #0080ff;
    cursor: pointer;
}

.btn-logout i {
    margin-right: 1px;
}

.btn-logout:hover {
    background-color: #c82333;
    /* Adjust the color based on your design */
}
label{
    font-family: 'Khmer OS Siemreap', 'Times New Roman', Times, serif; /* Update this line */
}
