*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.7;
    background: #ea0000;
}

.sidebar {
    background: #21618C;
    width: 17%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}
.sidebar-logo{
    height: 100vh;


}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-item {
    color: #fff; /* Set the color of the text */
    font-size: 20px; /* Adjust font size as needed */
    margin-top: 20px; /* Add space at the top if necessary */
}

.sidebar-subtext {
    color: #fff; /* Set the color of the text */
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 10px; /* Add space at the top if necessary */
}
ul{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    padding-top: 10px;
}
li{
    list-style: none;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* margin-left: 17px; */
    padding: 5px;
    border-radius: 15px;
}
.menu{
    text-decoration: none;
    /* font-family: 'Kdam Thmor'; */
    font-family: 'Romnea';
    color: #D5D8DC;
}
li:hover{
    background: #FDFEFE;
}
.menu:hover{
    width: 100%;
    color: #000;
    text-align: center;
}


.sidebar-pf{
    width: 100%;
    border-radius: 5px;
    padding: 0px 15px;
    background: #FDFEFE;
}
.user{
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}

/* Styles for the box */
.navbar-header1 {
    width: 83%;
    height: auto;
    font-family: Khmer OS Muol Light;
    color: rgb(241, 241, 241);
}
.navbar-header1 .text_navbar {
    font-size: 25px;
    width: 100%;
    height: 15vh;
    background: #FDFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 6px 15px #eff1f4;
    color: #2553dc;
    font-family: 'Romnea';
}
.pp{
    background: #000;
}
.container1 {
    width: 100%;
    height: auto;
    display: flex;
   justify-content: right;
}

.containera{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
}

.item-content{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 6px 15px #808B96;
}
.bg-red{
    background: #ffffff;
}
.bg-dak{
    background: #ffffff;
    margin-left: 30px;
}
.container-a{
    width: 100%;
    height: 100%;
    background: #FDFEFE;
    box-shadow: 0 5px 15px #808B96;
    border-radius: 10px;
    color: #2f66b4;
    font-size: 12px;
    
}
form {

    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.input-box {

    width: 60%;
    height: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

.styled-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #0056b3;
}
  
  
